body {
  background-color: black;
  background-image: url(./assets/casas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}


@keyframes neon {
    from {
      filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
      filter: drop-shadow(20px 0 30px var(--cor-neon));
    }
  }

.pergaminho{
    margin: auto;
}

.text{
    color: gold(255, 60, 0);
  animation: neon 3s alternate infinite ease-in-out;
  --cor-neon: gold;
    position: relative;
}


.square {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 241, 163);
  border: 1px solid rgb(153, 9, 9);
  border-radius: 5px;
  display: inline-block;
}

.o {
  position: relative;
}

.o:after {
  position: absolute;
  content: "\1F9D9";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x {
  position: relative;
}

.x:after {
  position: absolute;
  content: "🧙‍♀️";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
